Selector{
    Property
   
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    }
body{
    font-family: monteserrat;
}
header{
    background-color: #0082e6;
    height:150px;
    width:100%;
    }
p{
    color:white;
    font-size: 50px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
    }
span{
	color: pink;
}
nav ul{
    float:right;
    margin-right: 20px;
    }
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
    margin-bottom: 80px;
	position:relative;
    }
a{
    color:white;
    font-size:17px 13px;
    text-transform: uppercase;
    transition:0.5s;
    border-radius: 5px;
    }
 
	nav a:hover {
		color:beige;
			text-decoration: underline;
    transition:0.5s;
}

.checkbtn{
    font-size:auto;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    }
#check{
    display:none;
    }

img {
    background-size: cover;
    width:100%;
    height:100%;
}
    
@media(max-width:900px){
	p{
		font-size: 30px;
		padding-left:50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}


@media(max-width:700px){
	.checkbtn {
		display:block;
	}
	ul{
		width:100%;
		position:fixed;
		height:100px;
		background:black;
		top:80px;
		text-align: center;
		transition:all 0.5s;
		display:block;
		left:0 100px;
	}
}






